body{
    font-family: 'Roboto', sans-serif;
}
/*
font-family: 'Bebas Neue', cursive;
*/

.menu{
    height: 80px;
}
.header-menu{
    height:40px;
    position:absolute;
    right:100px;
}

.header-menu ul{
    list-style-type: none;
}

.header-menu ul>li{
  float: left;
  margin-right: 20px;
  padding: 10px;

}

.header-menu ul>li:hover{
    background: orange;
    color:#fff;
}

.h50{
    font-size:50px;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    letter-spacing: 2px;
    margin:0px;
}

.hl{
    color: #FF8367;
    letter-spacing: 2px;
}

header{
    width: 100%;
    background-image: url("assets/img/top-banner.png");
    height:500px;
    background-repeat: no-repeat;
}
.welcome{
    width:100%;
    height: 500px;
}

.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left:2%;

}

.half-width img{
    width:100%
}

.hire{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    color:white;
    padding: 10px;
    border-radius: 5px;
}

.hp{
    font-size:18px;
    line-height: 30px;
    text-align: justify;
}

.middle-area{
    height: 500px;
    margin-top: 100px;
    width:100%;
    
}

.latest-work{
    height: 600px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: #F8F9FC;
    padding: 30px 0;
}
.latest-work .myalign{
    text-align: center;
}
.one-third{
    width: 30%;
    float: left;
    margin: 0 1.5%;
    background-color: #FFFFFF;
    height: 65%;
    border-radius: 10px;
    

   
}
.one-third img{
    margin-top: 20px;
    width:80%;
}

.one-third p, h1{
    margin-left: 13%;
    text-align: justify;
}

.inquiry {
    height:300px;
    width:100%;
    
}

.chat {
    margin-top:150px;
    margin-left: 25%;
    width: 596px;
    height: 148px;
    background-image: url("assets/images/avobe-connected.png");
    background-size:100%;

}
.chat-left{
    height:auto;
    width:60%;
    margin-top: 11px;
    float: left;
    font-size: 30px;
    color: #FFFFFF;
}

.chat-right{
    width:40%;
    height: 100%;
    overflow: hidden;
}


.chat-button {
        position: relative;
        top: 62px;
        right: -99px;
 }
.connected{
    text-align: center;
    padding-bottom: 50px;
}

.connected .stay{
    font-family: 'Bebas Neue', cursive;
    color: #696871;
    font-size: 24px;
}
.connected>h2{
    font-size: 36px;
    color:#363958;
}

.connected ul {
    list-style: none;

}
.connected ul li{
    float: left;
    text-align: center;
    position: relative;
    left: 45%;
    padding-right: 15px;
}

.connected ul li img{
    width: 20px;
   
}